.postCon {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 30px; FONT: 14px/1.5 Tahoma, Arial, "ו", sans-serif; PADDING-TOP: 0px
}
#cnblogs_post_body {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 30px; FONT: 14px/1.5 Tahoma, Arial, "ו", sans-serif; PADDING-TOP: 0px
}
.postCon A {
	BORDER-BOTTOM: 1px dashed; COLOR: #000000; TEXT-DECORATION: none
}
#cnblogs_post_body A {
	BORDER-BOTTOM: 1px dashed; COLOR: #000000; TEXT-DECORATION: none
}
.postCon A:hover {
	COLOR: #9cba39; TEXT-DECORATION: none !important
}
#cnblogs_post_body A:hover {
	COLOR: #9cba39; TEXT-DECORATION: none !important
}
.postCon A:link {
	COLOR: #075db3; TEXT-DECORATION: none
}
.postCon A:visited {
	COLOR: #075db3; TEXT-DECORATION: none
}
.postCon A:active {
	COLOR: #075db3; TEXT-DECORATION: none
}
#cnblogs_post_body A:link {
	COLOR: #075db3; TEXT-DECORATION: none
}
#cnblogs_post_body A:visited {
	COLOR: #075db3; TEXT-DECORATION: none
}
#cnblogs_post_body A:active {
	COLOR: #075db3; TEXT-DECORATION: none
}
.postCon H3 {
	LINE-HEIGHT: 1.8; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.postCon H4 {
	LINE-HEIGHT: 1.8; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#cnblogs_post_body H3 {
	LINE-HEIGHT: 1.8; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#cnblogs_post_body H4 {
	LINE-HEIGHT: 1.8; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.postCon H3 {
	BORDER-BOTTOM: #bbb 1px dotted; FONT-SIZE: 14px
}
#cnblogs_post_body H3 {
	BORDER-BOTTOM: #bbb 1px dotted; FONT-SIZE: 14px
}
.postCon DL {
	MARGIN-LEFT: 30px
}
#cnblogs_post_body DL {
	MARGIN-LEFT: 30px
}
.postCon DT {
	FONT-WEIGHT: bold
}
#cnblogs_post_body DT {
	FONT-WEIGHT: bold
}
.postCon DD {
	MARGIN-BOTTOM: 8px; MARGIN-LEFT: 40px
}
#cnblogs_post_body DD {
	MARGIN-BOTTOM: 8px; MARGIN-LEFT: 40px
}
.postCon UL {
	PADDING-LEFT: 40px
}
.postCon OL {
	PADDING-LEFT: 40px
}
#cnblogs_post_body UL {
	PADDING-LEFT: 40px
}
#cnblogs_post_body OL {
	PADDING-LEFT: 40px
}
.postCon OL LI {
	LIST-STYLE-TYPE: decimal
}
#cnblogs_post_body OL LI {
	LIST-STYLE-TYPE: decimal
}
.postCon UL LI {
	LIST-STYLE-TYPE: disc
}
#cnblogs_post_body UL LI {
	LIST-STYLE-TYPE: disc
}
.postCon UL {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body UL {
	MARGIN: 10px 0px 10px 25px
}
.postCon OL {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body OL {
	MARGIN: 10px 0px 10px 25px
}
.postCon DL {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body DL {
	MARGIN: 10px 0px 10px 25px
}
.postCon P {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body P {
	MARGIN: 10px 0px 10px 25px
}
.postCon H4 {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body H4 {
	MARGIN: 10px 0px 10px 25px
}
.postCon H5 {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body H5 {
	MARGIN: 10px 0px 10px 25px
}
.postCon TABLE {
	MARGIN: 10px 0px 10px 25px
}
#cnblogs_post_body TABLE {
	MARGIN: 10px 0px 10px 25px
}
.postCon .syntaxhighlighter TABLE {
	MARGIN: 0px
}
#cnblogs_post_body .syntaxhighlighter TABLE {
	MARGIN: 0px
}
.syntaxhighlighter .alt2.line {
	BACKGROUND-COLOR: #fafcfe !important
}
.syntaxhighlighter .alt1.line {
	BACKGROUND-COLOR: #fafcfe !important
}
.postCon P {
	TEXT-INDENT: 2em; MARGIN-LEFT: 0px !important
}
#cnblogs_post_body P {
	TEXT-INDENT: 2em; MARGIN-LEFT: 0px !important
}
.postCon PRE {
	BACKGROUND-IMAGE: url(http://images.cnblogs.com/cnblogs_com/rainman/139529/r_rainman-code-bg.png); BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #fafcfe; MARGIN: 10px 30px 10px 25px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: block; FONT: 12px/1.5 Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", monospace; WORD-WRAP: break-word; COLOR: #0c3e64; OVERFLOW: auto; BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed; PADDING-TOP: 6px
}
#cnblogs_post_body PRE {
	BACKGROUND-IMAGE: url(http://images.cnblogs.com/cnblogs_com/rainman/139529/r_rainman-code-bg.png); BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #fafcfe; MARGIN: 10px 30px 10px 25px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: block; FONT: 12px/1.5 Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", monospace; WORD-WRAP: break-word; COLOR: #0c3e64; OVERFLOW: auto; BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed; PADDING-TOP: 6px
}
.postCon TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; MARGIN-LEFT: 10px
}
#cnblogs_post_body TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; MARGIN-LEFT: 10px
}
.postCon TD {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 2px
}
.postCon TH {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 2px
}
#cnblogs_post_body TD {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 2px
}
#cnblogs_post_body TH {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 2px
}
.postCon TH {
	TEXT-ALIGN: left; BACKGROUND: #dee7ec; FONT-WEIGHT: bold
}
#cnblogs_post_body TH {
	TEXT-ALIGN: left; BACKGROUND: #dee7ec; FONT-WEIGHT: bold
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\20'
}
.clearfix {
	
}
.postCon UL.catalogue {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 5px 5px 5px 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#cnblogs_post_body UL.catalogue {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 5px 5px 5px 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.postCon UL.catalogue LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 2; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#cnblogs_post_body UL.catalogue LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 2; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.postCon UL.catalogue SPAN {
	PADDING-LEFT: 15px; BACKGROUND: url(http://images.cnblogs.com/cnblogs_com/rainman/139529/o_list_style_disc.png) no-repeat left center
}
#cnblogs_post_body UL.catalogue SPAN {
	PADDING-LEFT: 15px; BACKGROUND: url(http://images.cnblogs.com/cnblogs_com/rainman/139529/o_list_style_disc.png) no-repeat left center
}
.dp-highlighter {
	BACKGROUND-COLOR: #e7e5dc; MARGIN: 18px 0px; WIDTH: 99%; FONT-FAMILY: "Consolas", "Courier New", Courier, mono, serif; FONT-SIZE: 12px; OVERFLOW: auto; PADDING-TOP: 1px
}
.dp-highlighter OL {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter OL LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter OL LI SPAN {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter A:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.dp-highlighter .bar {
	PADDING-LEFT: 45px
}
.dp-highlighter .bar {
	MARGIN: 0px
}
.dp-highlighter .bar DIV {
	MARGIN: 0px
}
.collapsed.dp-highlighter .bar {
	PADDING-LEFT: 0px
}
.nogutter.dp-highlighter .bar {
	PADDING-LEFT: 0px
}
.dp-highlighter OL {
	BACKGROUND-COLOR: #fff; LIST-STYLE-TYPE: decimal; MARGIN: 0px 0px 1px; PADDING-LEFT: 45px !important; COLOR: #5c5c5c
}
.nogutter.dp-highlighter OL {
	LIST-STYLE-TYPE: none !important; MARGIN-LEFT: 0px !important; LIST-STYLE-IMAGE: none !important
}
.nogutter.dp-highlighter OL LI {
	LIST-STYLE-TYPE: none !important; MARGIN-LEFT: 0px !important; LIST-STYLE-IMAGE: none !important
}
.dp-highlighter OL LI {
	LIST-STYLE-POSITION: outside !important; BORDER-LEFT: #6ce26c 3px solid; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 14px; BACKGROUND-COLOR: #f8f8f8; LIST-STYLE-TYPE: decimal-leading-zero; MARGIN: 0px; PADDING-LEFT: 10px !important; PADDING-RIGHT: 3px !important; COLOR: #5c5c5c; PADDING-TOP: 0px !important
}
.dp-highlighter .columns DIV {
	LIST-STYLE-POSITION: outside !important; BORDER-LEFT: #6ce26c 3px solid; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 14px; BACKGROUND-COLOR: #f8f8f8; LIST-STYLE-TYPE: decimal-leading-zero; MARGIN: 0px; PADDING-LEFT: 10px !important; PADDING-RIGHT: 3px !important; COLOR: #5c5c5c; PADDING-TOP: 0px !important
}
.nogutter.dp-highlighter OL LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.nogutter.dp-highlighter .columns DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.dp-highlighter .columns {
	BACKGROUND-COLOR: #f8f8f8; WIDTH: 100%; COLOR: gray; OVERFLOW: hidden
}
.dp-highlighter .columns DIV {
	PADDING-BOTTOM: 5px
}
.dp-highlighter OL LI.alt {
	BACKGROUND-COLOR: #fff; COLOR: inherit
}
.dp-highlighter OL LI SPAN {
	BACKGROUND-COLOR: inherit; COLOR: black
}
.collapsed.dp-highlighter OL {
	MARGIN: 0px
}
.collapsed.dp-highlighter OL LI {
	DISPLAY: none
}
.printing.dp-highlighter {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.printing.dp-highlighter .tools {
	DISPLAY: none !important
}
.printing.dp-highlighter LI {
	DISPLAY: list-item !important
}
.dp-highlighter .tools {
	BORDER-LEFT: #6ce26c 3px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 10px; PADDING-RIGHT: 8px; FONT: 9px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: silver; PADDING-TOP: 3px
}
.nogutter.dp-highlighter .tools {
	BORDER-LEFT: 0px
}
.collapsed.dp-highlighter .tools {
	BORDER-BOTTOM: 0px
}
.dp-highlighter .tools A {
	BACKGROUND-COLOR: inherit; COLOR: #a0a0a0; FONT-SIZE: 9px; MARGIN-RIGHT: 10px; TEXT-DECORATION: none
}
.dp-highlighter .tools A:hover {
	BACKGROUND-COLOR: inherit; COLOR: red; TEXT-DECORATION: underline
}
.dp-about {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; PADDING-TOP: 0px
}
.dp-about TABLE {
	WIDTH: 100%; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif !important; HEIGHT: 100%; FONT-SIZE: 11px
}
.dp-about TD {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
.dp-about .copy {
	BORDER-BOTTOM: #aca899 1px solid; HEIGHT: 95%
}
.dp-about .title {
	BACKGROUND-COLOR: inherit; COLOR: red; FONT-WEIGHT: bold
}
.dp-about .para {
	MARGIN: 0px 0px 4px
}
.dp-about .footer {
	TEXT-ALIGN: right; BACKGROUND-COLOR: #eceadb; COLOR: #333; BORDER-TOP: #fff 1px solid
}
.dp-about .close {
	BACKGROUND-COLOR: #eceadb; WIDTH: 60px; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif !important; HEIGHT: 22px; COLOR: #333; FONT-SIZE: 11px
}
.dp-highlighter .comment {
	BACKGROUND-COLOR: inherit; COLOR: #008200
}
.dp-highlighter .comments {
	BACKGROUND-COLOR: inherit; COLOR: #008200
}
.dp-highlighter .string {
	BACKGROUND-COLOR: inherit; COLOR: blue
}
.dp-highlighter .keyword {
	BACKGROUND-COLOR: inherit; COLOR: #069; FONT-WEIGHT: bold
}
.dp-highlighter .preprocessor {
	BACKGROUND-COLOR: inherit; COLOR: gray
}
